CompileFlags:
  Add: 
    - -std=c++26
    - -fmodules-ts
    - -I/home/kkkzbh/code/gamet/.venv/lib/python3.12/site-packages/pybind11/include
    - -I/usr/include/python3.12
  Remove: 
    - -fmodules
    - -fcoroutines-ts

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: []
    Remove: 
      - modernize-*
      - readability-*
  UnusedIncludes: None
  MissingIncludes: None

Hover:
  ShowAKA: No